<div id="star-rate-<%= video.id %>"
  <i class="fas fa-futbol"> 個人の評価：<%= video.rate %></i>
</div>

<script>
  $('#star-rate-<%= video.id %>').raty({
    size: 20,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: <%= video.rate %>
  });
</script>