<div class="col-sm-12 col-lg-4 mb-3">
  <div id="video-id-<%= video.id %>">
    <div class="card">
    <%= video_tag video.video_image_url, class: 'card-img-top', size: '300x200', controls: true, autobuffer: true %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to video.title, video_path(video)%>
        </h4>
        <%= render 'crud_menus', video: video if current_user.own?(video)%>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= icon 'far', 'user' %>
            <%= video.user.decorate.full_name %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l video.created_at, format: :long %>
          </li>
        </ul>
        <p class="card-text"><%= video.body %></p>
      </div>
    </div>
  </div>
</div>