<header class="navi"> 
  <div class="el_humburger">
    <div class="el_humburger_wrapper">
      <span class="el_humburger_bar top"></span>
      <span class="el_humburger_bar middle"></span>
      <span class="el_humburger_bar bottom"><p>MENU</p></span>
    </div>
  </div>
 
    <div class="navi_inner">
      <div class="navi_item"><%= link_to 'トップページ', root_path %></div>
      <div class="navi_item"><%= link_to '動画一覧ページ', videos_path %></div>
      <div class="navi_item"><%= link_to 'ログイン', login_path %></div>
      <div class="navi_item"><%= link_to '登録ページへ', new_user_path %></div>
    </div>
</header>
 
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'log.png' %>
    <% end %>
  </nav>
 

<script
src="https://code.jquery.com/jquery-2.2.4.min.js"
integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous"></script>

