<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">
     <%= link_to root_path, class: 'navbar-brand' do %>
      <h1 class="meun-h1">
        <i class="fas fa-futbol"> SKILL SHOW MOVIES  </i>
      </h1>
    <% end %>

    <ul class="navbar-nav ml-auto main-nav align-items-center">
      <li class="nav-content-item">
        <%= link_to videos_path, data: {"turbolinks" => false} , class: 'navi-item' do %>
          <i class="fas fa-video header-icon"> 動画一覧</i>
        <% end %>
      </li>
      <li class="nav-content-item header-icon">
        <%= link_to new_video_path, class: 'navi-item' do %>
          <i class="fas fa-photo-video header-icon"> 投稿</i>
        <% end %>
      </li>
    </ul>
    <div class="user-profiles-iocn-imag">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item dropdown dropdown-slide">
          <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="header-profile">
            <%= image_tag current_user.avatar_url, size: '40x40', class: 'rounded-circle mr15'%>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to profile_path, class: 'dropdown-item' do %>
              <i class="fas fa-address-book"> マイページ</i>
            <% end %>

            <%= link_to  my_videos_videos_url, class: 'dropdown-item' do  %>
              <i class="fas fa-file-video"> ユーザー動画</i>
            <% end %> 

            <%= link_to logout_path, class: 'dropdown-item', method: :delete do %>
              <i class="fas fa-sign-out-alt"> ログアウト</i>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
